/* GLOBAL */
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/mixins.scss";
@import "./global/variables.scss";
@import "./global/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/advantages.scss";
@import "./blocks/advantage.scss";
@import "./blocks/button.scss";
@import "./blocks/container.scss";
@import "./blocks/capture.scss";
@import "./blocks/card.scss";
@import "./blocks/cards.scss";
@import "./blocks/catalog-pagination.scss";
@import "./blocks/catalog.scss";
@import "./blocks/copyright.scss";
@import "./blocks/divider.scss";
@import "./blocks/footer.scss";
@import "./blocks/field.scss";
@import "./blocks/filter.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/links-list.scss";
@import "./blocks/logo.scss";
@import "./blocks/location.scss";
@import "./blocks/navigation.scss";
@import "./blocks/page.scss";
@import "./blocks/price.scss";
@import "./blocks/checkbox-set.scss";
@import "./blocks/select.scss";
@import "./blocks/slider.scss";
@import "./blocks/slider-pagination.scss";
@import "./blocks/social.scss";
@import "./blocks/sorting.scss";
@import "./blocks/subtitle.scss";
@import "./blocks/title.scss";
@import "./blocks/user-list.scss";

/* VENDOR */
@import "../vendor/nouislider/nouislider.css";
