@use "./global/variables.scss";

.advantage {
  display: grid;
  justify-items: center;

  &::before {
    content: "";
    width: 52px;
    height: 56px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: variables.$tablet-width) and (max-width: 1439px) {
    grid-template-columns: 52px 1fr;
    column-gap: 20px;
    row-gap: 10px;
    justify-items: start;
    text-align: left;

    &::before {
      grid-column: 1 / 2;
      grid-row: span 2;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      margin-bottom: 21px;
    }
  }
}

.advantage--speed::before {
  background-image: url("../../images/icons/stack.svg#speed");

  @media (min-width: variables.$tablet-width) and (max-width: 1439px) {
    margin-top: 4px;
  }
}

.advantage--comfort::before {
  background-image: url("../../images/icons/stack.svg#comfort");
}

.advantage--liveliness::before {
  background-image: url("../../images/icons/stack.svg#liveliness");
}

.advantage--eco-friendliness::before {
  background-image: url("../../images/icons/stack.svg#eco-friendliness");

  @media (min-width: variables.$tablet-width) and (max-width: 1439px) {
    margin-top: 4px;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 10px;
  }
}

.advantage__description {
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
