@use "./global/variables.scss";
@use "./global/mixins.scss";

.advantages {
  padding: 50px 0 60px;
  text-align: center;
  background-color: variables.$background-primary;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 0 100px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 100px 0 120px;
  }
}

.advantages__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding: 0 10px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 4px;
  }
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  @include mixins.list-reset;
  display: grid;
  gap: 32px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}
