@use "./global/variables.scss";
@use "./global/mixins.scss";

.catalog-pagination {
  @include mixins.list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;

  @media (min-width: variables.$tablet-width) {
    justify-content: end;
    padding-top: 70px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 60px;
  }
}

.catalog-pagination__button {
  display: grid;
  place-content: center;
  min-width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: variables.$text-accent;
  background-color: variables.$color-light;
  border-radius: 4px;
  transition: background-color 0.3s linear, color 0.3s linear;

  &--special {
    @media (min-width: variables.$tablet-width) {
      padding: 8px 20px;
    }
  }

  &--special::before {
    content: "";
    width: 10px;
    height: 10px;
    mask-image: url("../../images/icons/stack.svg#tick");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: variables.$text-accent;

    @media (min-width: variables.$tablet-width) {
      display: none;
    }
  }

  &--back::before {
    transform: rotate(90deg);
  }

  &--forward::before {
    transform: rotate(-90deg);
  }

  &:hover,
  &:focus {
    color: variables.$text-secondary;
    background-color: variables.$color-primary-lighter;

    &::before {
      background-color: variables.$text-secondary;
    }
  }

  &:active {
    background-color: variables.$color-primary-darker;

    &::before {
      background-color: variables.$text-secondary;
    }
  }

  &:disabled,
  &--disabled {
    color: variables.$text-secondary;
    background-color: variables.$color-disabled;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background-color: variables.$color-disabled;
    }

    &::before {
      background-color: variables.$text-secondary;
    }
  }

  &--current {
    font-weight: 600;
    color: variables.$text-primary;
    background-color: transparent;
    pointer-events: none;
  }
}

.catalog-pagination__capture {
  @media (max-width: 767px) {
    display: none;
  }
}
