@use "./global/variables.scss";

.field {
  padding: 2px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  color: variables.$text-primary;
  border: 2px solid variables.$color-primary-lighter;
  border-radius: 4px;
  transition: border 0.3s linear;

  &::placeholder {
    color: variables.$text-disabled;
  }

  &:hover,
  &:focus {
    border-color: variables.$color-primary-darker;
    outline: none;
  }

  &:disabled {
    color: variables.$text-disabled;
    background-color: variables.$background-secondary;
    border-color: variables.$color-disabled;
  }
}

.field[type="number"] {
  appearance: textfield;
}
