@use "./global/variables.scss";

.location__map-wrapper {
  position: relative;
  max-width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 48.8%;
    transform: translateY(-50%);
    width: 38px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#map-pin");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: variables.$tablet-width) {
    &::after {
      left: 49.5%;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::after {
      left: 49.7%;
    }
  }
}

.location__map {
  display: block;
  width: 100%;
}
