@use "./global/variables.scss";

.logo {
  padding: 12px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 22px 20px 22px 0;
  }
}

.logo__image {
  width: 32px;
  height: 36px;

  @media (min-width: variables.$tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 170px;
    height: 36px;
  }
}
