@use "./global/variables.scss";

.navigation {
  position: relative;
  display: flex;
  width: variables.$mobile-width;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: variables.$tablet-width;
    padding-right: 20px;
  }
}

.navigation--open .navigation__button::before {
  mask-image: url("../../images/icons/stack.svg#close-button");
}

.navigation--open .navigation__links-list {
  display: grid;
}

.navigation__logo {
  width: 72px;
  height: 60px;
  margin-right: auto;

  @media (min-width: variables.$tablet-width) {
    width: 122px;
    height: 80px;
    margin-right: 47px;
  }
}

.navigation__button {
  display: grid;
  place-content: center;
  padding: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.navigation__button::before {
  content: "";
  width: 16px;
  height: 16px;
  mask-image: url("../../images/icons/stack.svg#burger-button");
  background-color: variables.$text-primary;
  background-size: contain;
}

.navigation__button:active {
  background-color: variables.$color-secondary;
}

.navigation__links-list {
  position: absolute;
  top: 60px;
  display: none;

  @media (min-width: variables.$tablet-width) {
    position: static;
    display: flex;
    margin-right: auto;
  }
}
