@use "./global/variables.scss";

.navigation {
  position: relative;
  display: flex;
}

.navigation__logo {
  width: 72px;
  height: 60px;
  margin-right: auto;
}

.navigation__button {
  display: grid;
  place-content: center;
  padding: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation__button::before {
  content: "";
  width: 16px;
  height: 16px;
  mask-image: url("../../images/icons/stack.svg#burger-button");
  background-color: variables.$text-primary;
  background-size: contain;
}

.navigation__button:active {
  background-color: variables.$color-secondary;
}

.navigation__links-list {
  position: absolute;
  top: 60px;
  width: 100%;
}
