@use "./global/variables.scss";

.select {
  appearance: none;
  max-width: 100%;
  padding: 4px;
  padding-left: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: lowercase;
  color: variables.$text-accent;
  background-color: transparent;
  background-image: url("../../images/icons/stack.svg#tick");
  background-repeat: no-repeat;
  background-position: top 50% right 10px;
  background-size: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;

  &:hover,
  &:focus {
    background-color: variables.$color-secondary;
  }

  &--active {
    background-image: url("../../images/icons/stack.svg#tick-inverted");
  }
}
