@use "./global/variables.scss";
@use "./global/mixins.scss";

.slider-pagination {
  @include mixins.list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (max-width: 1439px) {
    display: none;
  }
}

.slider-pagination__button {
  width: 62px;
  height: 4px;
  padding: 0;
  border: none;
  background-color: variables.$color-light;
  cursor: pointer;

  &--current {
    background-color: variables.$color-primary;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: variables.$color-primary-opacity;
    outline: none;
  }
}
