@use "./global/variables.scss";

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media (min-width: variables.$tablet-width) {
    justify-content: flex-end;
    gap: 10px;
  }
}

.sorting__label {
  padding-top: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.sorting__select {
  width: 165px;
}
